@model IEnumerable<TrabalhoASPNet.Models.Autor>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title-filter">Resultado - Autores</h2>

<p>
    <button class="add-new-filter"><a class="add-new" asp-action="FiltrarAutor">Filtrar</a></button>
</p>

<div class="table-filter">
    <table>
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @item.Nascimento.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidade)
                </td>
                <td>
                    <a class="action-form" asp-action="Edit" asp-route-id="@item.Id"><ion-icon name="create"></ion-icon></a> 
                    <a class="action-form" asp-action="Details" asp-route-id="@item.Id"><ion-icon name="search"></ion-icon></a> 
                    <a class="action-form" asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="trash"></ion-icon></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
}
