@model IEnumerable<TrabalhoASPNet.Models.Livro>

@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="table-title">Resultado - livros</h2>

<p><button class="add-new-button"><a class="add-new" asp-action="FiltrarLivro">Filtrar</a></button></p>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th class="th1">
                @Html.DisplayNameFor(model => model.First().Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().AnoPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Autor.Nome) <!-- Mostra o nome do autor -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Editora.Nome) <!-- Mostra o nome da editora -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Genero.Descricao) <!-- Mostra a descrição do gênero -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().QuantidadeEmEstoque)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="td1">
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnoPublicacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nome) <!-- Exibe o nome do autor -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editora.Nome) <!-- Exibe o nome da editora -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero.Descricao) <!-- Exibe a descrição do gênero -->
                </td>
                <td>
                    R$ @(item.Preco.ToString("N2"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeEmEstoque)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
}
