@model IEnumerable<TrabalhoASPNet.Models.Livro>

@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="table-title">Resultado - livros</h2>

<p><button class="add-new-button"><a class="add-new" asp-action="FiltrarLivro">Filtrar</a></button></p>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Título</th>
            <th>Ano de Publicação</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Gênero</th>
            <th>Preço</th>
            <th>Quantidade em Estoque</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var livro in Model)
        {
        <tr>
            <td>@livro.Titulo</td>
            <td>@livro.AnoPublicacao</td>
            <td>@livro.Autor?.Nome</td>
            <td>@livro.Editora?.Nome</td>
            <td>@livro.Genero?.Descricao</td>
            <td>@livro.Preco.ToString("C")</td>
            <td>@livro.QuantidadeEmEstoque</td>
        </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
}
