@model IEnumerable<TrabalhoASPNet.Models.Editora>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="table-title-genero">Editoras</h2>

<p><button class="add-new-button-editora"><a class="add-new-editora" asp-action="Create">Adicionar novo</a></button></p>

<div class="table-container-editora">
    <table>
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    <a class="action-form" asp-action="Edit" asp-route-id="@item.Id"><ion-icon name="create"></ion-icon></a>
                    <a class="action-form" asp-action="Details" asp-route-id="@item.Id"><ion-icon name="search"></ion-icon></a>
                    <a class="action-form" asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="trash"></ion-icon></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
}
