@model TrabalhoASPNet.Models.Autor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="delete-container">
    <h2 class="details-title">Tem certeza que deseja deletar?</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
    </dl>
    <div class="d-flex align-items-center">
        <form asp-action="Delete" class="me-3">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Delete" class="btn btn-danger"/>
        </form>
        <a asp-action="Index" class="return-button">Voltar à lista</a>
    </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Erro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Não é possível excluir o autor pois existe um livro associado.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            @* Razor checks if there's an error and only includes this script if true *@
            @if (ViewData.ModelState.ContainsKey("AutorId") && ViewData.ModelState["AutorId"].Errors.Count > 0)
            {
                <text>
                    new bootstrap.Modal(document.getElementById('errorModal')).show();
                </text>
            }
        });
    </script>
}